.hid {
    float: left;
    padding: 8px;
    background-color: white;
    min-width: 300px;
    /*border-color: hsl(210,31%,37%);*/
    border-color: blue;
    border-width: 12px;
    border-radius: 0px 21px 0px 21px;
}

.hid2 {
    float: left;
    padding: 8px;
    background-color: white;
    min-width: 100px;
    /*border-color: hsl(210,31%,37%);*/
    border-color: blue;
    border-width: 12px;
    border-radius: 0px 10px 0px 10px;
    color: hsl(210,31%,37%);;
}

.hid3 {
    float: left;
    padding: 18px;
    background-color: white;
    min-width: 100px;
    /*border-color: hsl(210,31%,37%);*/
    border-color: blue;
    border-width: 12px;
    border-radius: 0px 10px 0px 10px;
    color: hsl(210,31%,37%);;
}

.cert {
    width: 80%;
    height: 47%;
    border-color: hsl(210,31%,37%);
    border-width: 12px;
    border-radius: 0px 10px 0px 10px;
}

.element {
    /*background: hsl(210,31%,37%);*/
    background: blue;
    padding: 1.1%;
    float: left;
    border-width: 5px;
    border-color: grey;
    border-radius: 12%;
}

.head {
    font-family: Felix titling;
    font-size: 24px;
    color: orangered;
    background-color: white;
    text-align: center;
    border-radius: 12%;
    padding: 1.8%;
}

.headtit {
    font-family: Felix titling;
    font-size: 27px;
    color: darkslategrey;
    /*background-color: white;*/
    background: linear-gradient(to right, white,aliceblue);
    text-align: center;
    border-radius: 12%;
    padding: 1.8%;
}

.data {
    font-family: Lucida sans;
    font-size: 22px;
    color: blue;
    background-color: white;
    text-align: center;
    border-radius: 12%;
    padding: 0.7%;
}

.tti {
    font-family: Gill sans MT;
    font-size: 24px;
    color: green;
    background-color: white;
    text-align: center;
    border-radius: 3%;
    padding: 8px;
}

.datati {
    font-family: Lucida sans;
    font-size: 22px;
    color: darkslategrey;
    background-color: white;
    text-align: left;
    border-radius: 1%;
    padding: 0.7%;
}

div {
    padding: 1%;
}

.body {
    /*background-color: hsl(210,31%,37%);*/
    background: linear-gradient(to right, white, blue);
    background-attachment: fixed;
    font-family: Lucida sans;
    font-size: 22px;
    color: white;
    text-align: left;
}

footer {
    text-align: center;
    font-family: Lucida sans;
    font-size: 22px;
    color: white;
    padding: 12px;
    background: blue;
    width: 100%;
}

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none; }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 9999;
background: url(https://github.com/Silas-seal/WebComponents/raw/master/Resume/load.gif) center no-repeat white;
/*https://smallenvelop.com/wp-content/uploads/2014/08/Preloader_11.gif  color #fff*/
}
