body {
    background: white;
    font-family: Bahnschrift;
    font-size: 21px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 17px;
    padding-bottom: 0px;
    overflow-x: hidden;
}

.compite {
    max-width: 1450px;
}

.page {
    max-width: 79%;
    box-shadow: 1px 1px 12px 5px grey;
}

.pagemobile {
    max-width: 98%;
    box-shadow: 1px 1px 12px 5px grey;
    overflow-x: scroll;
}

.overview {
    max-width: 700px;
    float: left;
}

.quick {
    box-shadow: 0px 0px 3px 1px lightgrey;
    float: right;
}

a {
    background: white;
    color: black;
    padding: 7px;
}
a:hover {
    background: black;
    color: white;
}

.profile {
    width: 187px;
    height: 187px;
    border-radius: 50%;
    box-shadow: 1px 1px 8px 3px grey;
}

.icon {
    width: 50px;
    height: 50px;
}

.floater {
    float: left;
}

.heading {
    background: blue;
    padding: 12px;
    font-size: 25px;
    color: white;
    width: 100%;
    text-align: center;
}

.logo {
    border-radius: 21%;
    box-shadow: 1px 1px 5px 1px grey;
    width: 117px;
    height: 117px;
}

.project {
    border-radius: 18px;
    border-width: 3px;
    border-color: lightblue;
    box-shadow: 1px 0px 7px 2px slategrey;
    padding: 30px;
}

.project .head {
    background: hsl(200, 7%, 18%);
    font-size: 22px;
    color: aliceblue;
    text-align: center;
    padding: 12px;
}

.project .detail {
    color: hsl(200, 7%, 12%);
    background: white;
}

li {
    padding: 7px;
}

.footer {
    background: hsl(200, 7%, 18%);
    padding: 12px;
    width: 100%;
    color: aliceblue;
    text-align: center;
}

.loader {
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: white;
    position: fixed;
    width: 100%;
    height: 100%;
}
